[Desktop Entry]
Name=Dizako
Exec=dizako
Icon=com.vndreiii.dizako
Terminal=false
Type=Application
Categories=Graphics;
StartupWMClass=com.vndreiii.dizako
